[project]
	description = Userspace eBPF VM
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cyril Chemparathy (cyrilchemparathy)
[access "refs/for/refs/*"]
	read = group user/Cyril Chemparathy (cyrilchemparathy)
	push = group user/Cyril Chemparathy (cyrilchemparathy)
	label-Code-Review = -2..+2 group user/Cyril Chemparathy (cyrilchemparathy)
	label-Verified = -1..+1 group user/Cyril Chemparathy (cyrilchemparathy)
	rebase = group user/Cyril Chemparathy (cyrilchemparathy)
	removeReviewer = group user/Cyril Chemparathy (cyrilchemparathy)
	submit = group user/Cyril Chemparathy (cyrilchemparathy)
[access "refs/heads/*"]
	read = group user/Cyril Chemparathy (cyrilchemparathy)
	create = group user/Cyril Chemparathy (cyrilchemparathy)
	push = +force group user/Cyril Chemparathy (cyrilchemparathy)
	pushMerge = group user/Cyril Chemparathy (cyrilchemparathy)
[access "refs/tags/*"]
	push = group user/Cyril Chemparathy (cyrilchemparathy)
	push = +force group user/Cyril Chemparathy (cyrilchemparathy)
